.row
  .col-lg-8
    .ibox.float-e-margins
      .ibox-title
        %h3
          Here is what people you are following are saying
      .ibox-content
        .row
          .posts.m-t-lg
            - if @followed_users_posts
              %ul
                - @followed_users_posts.each do |post|
                  .post.m-t-sm
                    %h3= post.title
                    %h5
                      Author:
                      = link_to post.user.first_name, user_posts_path(post.user)
                    %h6= post.created_at.strftime("%b %e, %Y")
                    %p= post.text

                  %hr
